In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [97]:
df = pd.read_csv("data/cosmetics.csv")
df["Price"] = df["Price"].astype(float)
df["Ingredients"] = df["Ingredients"].str.split(",")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1472 entries, 0 to 1471
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Label        1472 non-null   object
 1   Brand        1472 non-null   object
 2   Name         1472 non-null   object
 3   Price        1472 non-null   float64
 4   Rank         1472 non-null   float64
 5   Ingredients  1472 non-null   object
 6   Combination  1472 non-null   int64
 7   Dry          1472 non-null   int64
 8   Normal       1472 non-null   int64
 9   Oily         1472 non-null   int64
 10  Sensitive    1472 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 126.6+ KB

In [136]:
df.loc[df["Brand"] == 'SEPHORA COLLECTION',]

,Label,Brand,Name,Price,Rank,Ingredients,Combination,Dry,Normal,Oily,Sensitive
197,Moisturizer,SEPHORA COLLECTION,Sleeping Mask,4.0,4.2,"[Water, Butylene Glycol, Glycerin, Betaine,...",0,0,0,0,0
238,Moisturizer,SEPHORA COLLECTION,Instant Moisturizer + Cream,23.0,4.4,"[Water, Caprylic/Capric Triglyceride, C12-20...",0,0,0,0,0
278,Moisturizer,SEPHORA COLLECTION,Intensive Instant Moisturizer + Cream,23.0,4.3,"[Water, Glycerin, Dicaprylyl Carbonate, C10...",0,0,0,0,0
309,Cleanser,SEPHORA COLLECTION,Cleansing & Exfoliating Wipes,7.0,4.5,"[Water, Caprylic/Capric Triglyceride, Fragra...",0,0,0,0,0
330,Cleanser,SEPHORA COLLECTION,Waterproof Eye Makeup Remover,11.0,4.4,[Visit the SEPHORA COLLECTION boutique],0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1079,Face Mask,SEPHORA COLLECTION,SUPERMASK - The Primer Mask,6.0,4.2,"[Water, Glycerin, Ethylhexyl Stearate, Meth...",1,1,1,1,1
1121,Eye cream,SEPHORA COLLECTION,Eye Mask,5.0,4.2,"[Water, Butylene Glycol, Glycerin, Aloe Bar...",0,0,0,0,0
1162,Eye cream,SEPHORA COLLECTION,Eye Mask - Cucumber - Anti-Puffiness,5.0,3.0,[Visit the SEPHORA COLLECTION boutique],0,0,0,0,0
1298,Eye cream,SEPHORA COLLECTION,Eye Mask - Grape - Smoothing,5.0,0.0,"[Water, Butylene Glycol, Glycerin, Aloe Bar...",0,0,0,0,0
1347,Sun protect,SEPHORA COLLECTION,8 HR Mattifying Moisturizer Sunscreen Broad Sp...,23.0,4.2,[Visit the SEPHORA COLLECTION boutique],1,1,1,1,1

In [137]:
clean.loc[clean["Brand"] == 'SEPHORA COLLECTION',]

Empty DataFrame
Columns: [Name, Price, Price Range, Clean?, Brand]
Index: []

In [107]:
clean = pd.read_csv("data/clean_products.csv")
clean["Clean?"] = 1

# clean and expand price and price range columns
clean["Price Range"] = clean["Price"] + clean["Price Range"]
clean["Price Range"] = clean["Price Range"].fillna(clean["Price"])
clean["Price"] = clean["Price"].str.replace(" -", "")
clean["Price"] = clean["Price"].str.replace(".00", "")
clean["Price"] = clean["Price"].str.replace(":", "")

for index, row in clean.iterrows():
    if row["Price"] == "":
        row["Price"] = row["Price Range"]

# make brand colulmn
brands = ["Alpha-H","alpyn beauty","BeautyBio","Biossance","BREAD BEAUTY SUPPLY",
          "By Rosie Jane","caliray","Caudalie","CAY SKIN","Community Sixty-Six","COOLA",
          "DAMDAM","Dr Barbara Sturm","Dr. Dennis Gross Skincare","Drunk Elephant","EADEM",
          "Evian","FaceGym","Farmacy","Fenty Skin","First Aid Beauty","Flora Bast","Freck Beauty",
          "fresh","Gisou","Glossier","Glow Recipe","goop","GUERLAIN","HABIT","Hanni","Herbivore",
          "HUM Nutrition","Hyper Skin","ILIA","iNNBEAUTY PROJECT","Isle of Paradise","Josie Maran",
          "Kate McLeod","Kiehl's Since 1851","KNC Beauty","Kopari","KORA Organics","KORRES","Kosas",
          "LAWLESS","lilah b.","Luna Daily","MACRENE actives","MARA","maude","MERIT","MILK MAKEUP",
          "Moon Juice","Naturally Serious","Nécessaire","NUDESTIX","OLEHENRIKSEN","Origins","Peace Out",
          "PHLUR","Prima","RANAVAT","REN Clean Skincare","ROSE INC","ROSE Ingleton MD","Rosebud Perfume Co.",
          "Saie","Saint Jane Beauty","SEPHORA COLLECTION","Skinfix","SOBEL SKIN Rx","Soleil Toujours","Sourse",
          "Summer Fridays","Supergoop!","tarte","Tata Harper","Tatcha","The INKEY List","The Nue Co",
          "The Outset","Topicals","Touchland","Tower 28 Beauty","TULA Skincare","Wander Beauty","WASO",
          "Westman Atelier","Wishful","Youth To The People"]

clean["Brand"] = ""
for index, row in clean.iterrows():
    for brand in brands:
        if brand in row["Name"]:
            row["Brand"] = brand

/var/folders/x7/5j65n6x57hq9g5yst5z9k1m00000gn/T/ipykernel_60434/2723882732.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  clean["Price"] = clean["Price"].str.replace(".00", "")

In [108]:
# check what rows are missing brands
clean.loc[clean["Brand"] == '']

,Name,Price,Price Range,Clean?,Brand
0,54 ThronesAFRICAN Beauty Butter- Intensive Dry...,12,12.00 -38,1,
1,54 ThronesMini AFRICAN Beauty Butter- Intensiv...,12,12,1,
2,Alpha-HBalancing Cleanser78,38,38,1,
3,Alpha-HBeauty Sleep Power Peel Age-Defying Nig...,106,106,1,
4,Alpha-HLiquid Gold Exfoliating Treatment with ...,22,22.00 -56,1,
...,...,...,...,...,...
1139,Youth To The PeopleThe Youth System™79,59,59,1,
1140,Youth To The PeopleYouth Stacks™: Brighter Tom...,28,28,1,
1141,Youth To The PeopleYouth Stacks™: Daily Skin H...,20,20,1,
1142,Youth To The PeopleYouth Stacks™: Plump It Up ...,28,28,1,
1143,TouchlandPower Mist Hydrating Hand Sanitizer200,10,10,1,

In [109]:
# fill missing brands
clean["Brand"].iloc[:2] = "54 Thrones"
clean["Brand"].iloc[68:70] = "By Rosie Jane"
clean["Brand"].iloc[146:179] = "Dr. Barbara Sturm"
clean["Brand"].iloc[357:360] = "Flora + Bast"

/var/folders/x7/5j65n6x57hq9g5yst5z9k1m00000gn/T/ipykernel_60434/706413311.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean["Brand"].iloc[:2] = "54 Thrones"
/var/folders/x7/5j65n6x57hq9g5yst5z9k1m00000gn/T/ipykernel_60434/706413311.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean["Brand"].iloc[68:70] = "By Rosie Jane"
/var/folders/x7/5j65n6x57hq9g5yst5z9k1m00000gn/T/ipykernel_60434/706413311.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean["Brand"].iloc[146:179] = "Dr. Barbara Sturm"
/var/folders/x7/5j65n6x57hq9g5yst5z9k1m00000gn/T/ipykernel_60434/706413311.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean["Brand"].iloc[357:360] = "Flora + Bast"

In [110]:
# remove brands from Name column
for index, row in clean.iterrows():
    row["Name"] = row["Name"].split(row["Brand"])

clean = clean.explode("Name")
clean = clean.loc[clean["Name"] != ""]
clean["Name"] = clean["Name"].str.replace("\d+", "")

# clean columns
clean["Brand"] = clean["Brand"].str.upper()
clean["Price"] = clean["Price"].astype(float)

ValueError: empty separator

In [111]:
df_total = pd.concat([df, clean])

In [112]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2616 entries, 0 to 1143
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Label        1472 non-null   object
 1   Brand        2616 non-null   object
 2   Name         2616 non-null   object
 3   Price        2616 non-null   object
 4   Rank         1472 non-null   float64
 5   Ingredients  1472 non-null   object
 6   Combination  1472 non-null   float64
 7   Dry          1472 non-null   float64
 8   Normal       1472 non-null   float64
 9   Oily         1472 non-null   float64
 10  Sensitive    1472 non-null   float64
 11  Price Range  1144 non-null   object
 12  Clean?       1144 non-null   float64
dtypes: float64(7), object(6)
memory usage: 286.1+ KB

In [114]:
df_total = df_total[["Brand", "Name", "Ingredients", "Clean?"]]

In [116]:
df_total["Clean?"] = df_total["Clean?"].fillna(0)

/var/folders/x7/5j65n6x57hq9g5yst5z9k1m00000gn/T/ipykernel_60434/1928147328.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_total["Clean?"] = df_total["Clean?"].fillna(0)

In [119]:
df_total["Clean?"] = df_total["Clean?"].astype(int)

/var/folders/x7/5j65n6x57hq9g5yst5z9k1m00000gn/T/ipykernel_60434/2860283377.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_total["Clean?"] = df_total["Clean?"].astype(int)

In [121]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2616 entries, 0 to 1143
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Brand        2616 non-null   object
 1   Name         2616 non-null   object
 2   Ingredients  1472 non-null   object
 3   Clean?       2616 non-null   int64
dtypes: int64(1), object(3)
memory usage: 102.2+ KB

In [122]:
df_total = df_total.dropna(subset = "Ingredients")

In [124]:
df_total["Clean?"].value_counts()

0    1472
Name: Clean?, dtype: int64